<div class ="container-fluid">
<div class="container-fluid">
<app-navbar></app-navbar>
</div>
<body>
<div class="container">
  <h1>Scheduled flights</h1>
  <div class="row">
    <div class="col-sm-16">
    </div>
    <div class="col-md">
      <app-scheduled-flights></app-scheduled-flights>
    </div>
    <div class="col-sm-16">
    </div>
  </div>
</div>
<br>
<div class="container">
  <h1>Flight Watch</h1>
  <div class="row">
    <div class="col-sm-16">

    </div>
    <div class="col-md">
      <app-flightwatch></app-flightwatch>
    </div>
    <div class="col-sm-16">
    </div>
  </div>
</div>

</body>
</div>
