<div class="container" *ngIf="user">
  <div *ngIf="loading" class="row">
    <div id="loadingIMG"></div>
    <p>Fetching information</p>
  </div>
  <input type="text" value="" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
  <div *ngFor="let flighthtml of _flights | search:searchText" class="list-group-item list-group-item-action">
    <app-flight [flight]="flighthtml" [bookingButton]="_bookingButton" [user]="user"></app-flight>
  </div>
  <div *ngIf="noFlights">
    <p>No flights scheduled</p>
  </div>
</div>

