<div class="container">
  <div>
    <app-navbar></app-navbar>
  </div>
  <div class="viewbody">
    <div *ngIf="user.type===1">
      <h1>Today's Scheduled flights</h1>
      <app-flight-list [user]="user"  ></app-flight-list>
    </div>
    <div *ngIf="user.type===2">
      <h1>My flights</h1>
      <app-flight-list [user]="user"></app-flight-list>
    </div>
    <div *ngIf="user.type===1">
      <h1>Flight Watch</h1>
      <app-subscription-list [user]="user"></app-subscription-list>
    </div>
  </div>
</div>

