<!DOCTYPE html>
<html lang="en">
<body>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Date</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>No flight id</td>
    <td><button type="submit" style="width: 100%" class="btn btn-success">New flight</button></td>
  </tr>
  <tr>
    <td>2</td>
    <td>Has flight id</td>
    <td><button type="submit" style="width: 100%" class="btn btn-info">Flight info</button></td>
  </tr>
  </tbody>
</table>
</body>
