<!DOCTYPE html>
<html lang="en">
<body>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Flight number</th>
    <th>Status</th>
    <th>Estimated Departure</th>
    <th>Actual Departure</th>
    <th>Notes</th>
  </tr>
  </thead>
  <tbody>
  <tr class="table-danger">
    <td>Dummy1</td>
    <td>Boarding</td>
    <td>15:00</td>
    <td>15:30</td>
    <td>Delayed due to weather</td>
  </tr>
  <tr class="table-success">
    <td>Dummy2</td>
    <td>Landed</td>
    <td>18:00</td>
    <td>18:00</td>
    <td>Flight on time</td>
  </tr>
  <tr class="table-info">
    <td>Dummy3</td>
    <td>Ready</td>
    <td>19:00</td>
    <td>19:00</td>
    <td>Flight on time</td>
  </tr>
  <tr class="">
    <td>4</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-danger">
    <td>5</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-warning">
    <td>6</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  <tr class="table-active">
    <td>7</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
    <td>Column content</td>
  </tr>
  </tbody>
</table>
</body>
