<div class="row">
  <div class="col-md-3">{{_departureTime | date: "MMM d, y"}}</div>
  <div *ngIf="_flightsAvail" class="col-md-3 flights">{{_stringForFlights}}</div>
  <div *ngIf="!_flightsAvail" class="col-md-3 noFlights">{{_stringForFlights}}</div>
  <div class="col-md-6">
    <div class="pull-right" *ngIf="!confirmDelete">
      <button (click)="deleteSubscription()" class="btn btn-outline-warning">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


