<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 20px">
  <a class="navbar-brand" href="#">AAM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stuff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stuff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Stuff</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm-6">
        <div class="card">
          <h3 class="card-header">Login</h3>
          <img style="height: 200px; width: 200px; display: block; align-self: center" src="https://services.vi-seem.eu//static/img/logos/user-login-icon-14.png" alt="Card image">
          <div class="card-body">
            <div class="form-group has-success">
              <label class="form-control-label" for="username">Username</label>
              <input type="text" class="form-control is-valid" id="inputValid">
              <div class="form-control-feedback">Username is required.</div>
            </div>

            <div class="form-group has-danger">
              <label class="form-control-label" for="password">Password</label>
              <input type="password" class="form-control is-invalid" id="inputInvalid">
              <div class="form-control-feedback">Password is required.</div>
            </div>

            <button type="submit" style="width: 100%" class="btn btn-primary">Submit</button>

          </div>
          <div class="card-footer text-muted">
            <a href="#" class="card-link">Forgot your Password?</a>
            <a href="#" class="card-link">Help</a>
          </div>
        </div>
      </div>
    <div class="col-sm">
    </div>
  </div>
</div>
</body>
</html>
